In [ ]:
Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [ ]:
Q1. Write a code to print the data present in the second row of the dataframe,

ANS -

In [2]:
import pandas as pd

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

ANS -

In [ ]:
The main difference between loc[] and iloc[] is that loc[] gets DataFrame rows & columns by labels/names and 
iloc[] gets by integer Index/position. If the label is not present in loc[], it gives a key error. If the position is 
not present in iloc[], it gives an index error.

In other words, loc[] is typically used for label indexing and can access multiple columns while iloc[] is used for integer indexing.

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

ANS -

In [3]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
new_df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [4]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

print(df.loc[2])
print(new_df1.iloc[2])

A    3
B    6
C    9
Name: 2, dtype: int64
column_1    0.904542
column_2    0.358226
column_3    0.203800
column_4    0.501678
column_5    0.011171
column_6    0.780661
Name: 3, dtype: float64

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:

ANS -

In [5]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
df1.mean()

column_1    0.466029
column_2    0.743548
column_3    0.436747
column_4    0.452399
column_5    0.332185
column_6    0.542757
dtype: float64

In [7]:
df1['column_2'].std()

0.1224544317700634

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

ANS -

In [8]:
import pandas as pd

new_df1 = pd.DataFrame({'column_1': [1, 2, 3], 'column_2': [4.0, 5.0, 6.0]})
print("Original Dataframe:\n", new_df1)

new_df1.loc[1] = "string data"
print("Dataframe after replacing second row of column_2 with string data:\n", new_df1)

mean = df1['column_2'].mean()
print("Mean of column_2:", mean)

Original Dataframe:
    column_1  column_2
0         1       4.0
1         2       5.0
2         3       6.0
Dataframe after replacing second row of column_2 with string data:
       column_1     column_2
0            1          4.0
1  string data  string data
2            3          6.0
Mean of column_2: 0.7435475728303165

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

ANS -

In [ ]:
Pandas supports four types of windowing operations:

1.Rolling window: Generic fixed or variable sliding window over the values.
2.Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
3.Expanding window: Accumulating window over the values.
4.Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

You can use these functions mainly through the operators rolling and expanding. When called on a pandas Series or Dataframe,
they return a Rolling or Expanding object that enables grouping over a rolling or expanding window, respectively.

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

ANS -

In [9]:
import pandas as pd

now = pd.datetime.now()
print(now.strftime("%Y-%m"))

2023-07

/tmp/ipykernel_749/3352417453.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

ANS -

In [10]:
import pandas as pd

date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate time difference
time_diff = date2 - date1

# Extract days, hours, and minutes from time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

Enter first date (YYYY-MM-DD):  2021-08-12
Enter second date (YYYY-MM-DD):  2021-07-05

Time difference: -38 days, 0 hours, 0 minutes

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

ANS -

In [13]:
import pandas as pd

file_path = input("Enter file path: ")
column_name = input("Enter column name: ")
category_order = input("Enter category order (comma-separated): ").split(",")

data = pd.read_csv(file_path)
data[column_name] = pd.Categorical(data[column_name], categories=category_order)
data.sort_values(by=[column_name], inplace=True)

print(data)

Enter file path:  diabetes.csv
Enter column name:  Glucose
Enter category order (comma-separated):  .

     Pregnancies Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6     NaN             72             35        0  33.6
1              1     NaN             66             29        0  26.6
2              8     NaN             64              0        0  23.3
3              1     NaN             66             23       94  28.1
4              0     NaN             40             35      168  43.1
..           ...     ...            ...            ...      ...   ...
763           10     NaN             76             48      180  32.9
764            2     NaN             70             27        0  36.8
765            5     NaN             72             23      112  26.2
766            1     NaN             60              0        0  30.1
767            1     NaN             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

ANS -

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

ANS -

In [ ]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median and mode of test scores using Pandas tools
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

# Display mean, median and mode in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean:.1f}  |")
print(f"| Median    | {median}  |")
print(f"| Mode      | {', '.join(map(str, mode.tolist()))}  |")
print("+-----------+--------+")

In [ ]:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

In [ ]:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.0   |
| Median    | 85     |
| Mode      | 85     |
+-----------+--------+